<!DOCTYPE html>
<html lang="en">

<head>
    <title>Discount Reached</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet"> {% include 'html_dependencies.jinja2' %}

</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="Home">Pricing</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('stores.index') }}">Stores</a></li>
                    <li><a href="{{ url_for('alerts.index') }}">Alerts</a></li>
                </ul>
                {%if session['email']%}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('users.user_alerts') }}"><span class="glyphicon glyphicon-alert"></span> Sign up</a></li>
                    <li><a href="{{ url_for('users.logout_user') }}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('users.register_user')}}"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                    <li><a href="{{ url_for('users.login_user')}}"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                </ul>
                {% endif %}
            </div>

        </div>
    </nav>

    <div class="content container">
        {% block content %} {% endblock %}
    </div>

</body>

</html>